@import '~bootstrap/scss/bootstrap';

.success {
  color: green;
}

.failure {
  color: red;
}

.box {
  align-items: center;
  background-color: none;
  border: 1px solid black;
  display: flex;
  height: 100px;
  justify-content: center;
}
