@import '~bootstrap/scss/bootstrap';
$primary-color: #e9ecef;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// /* Mobile Styles */
// @media only screen and (max-width: 400px) {
//   body {
//     background-color: #F09A9D; /* Red */
//   }
//
//   .sign-up {
//     background-color: #F6F7F8;
//     border: 1px solid #D6D9DC;
//     border-radius: 3px;
//     margin: 40px 0;
//     padding: 50px;
//     width: 80%;
//   }
//
//   .sign-in {
//     background-color: #F6F7F8;
//     border: 1px solid #D6D9DC;
//     border-radius: 3px;
//     margin: 40px 0;
//     padding: 50px;
//     width: 80%;
//   }
// }

body {
  background-color: $primary-color;
  // padding: 20px;
  // margin: 20px;
  text-align: center;
  .hidden {
    display: none;
    visibility: hidden;
  }
}

h1 {
  margin-top: 80px;
  text-align: center;
}

.greeting {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  // input {
  //   margin: 5px;
  // }
}

.sign-up {
  // border: 1px solid black;
  // height: 200px;
  // padding: 20px;
  // width: 400px;text-align: center;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  display: inline-block;
  margin: 20px 0;
  padding: 50px;
  width: 350px;
}

.sign-in {
  // border: 1px solid black;
  // height: 50%;
  // padding: 10%;
  // width: 50%;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  margin: 20px 0;
  padding: 50px;
  width: 350px;
}

// .form {
//   //text-align: left;
//   input {
//     display: inline-block;
//     width: 250px;
//   }
// }

input {
  margin: 5px;
}

.message {
  text-align: center;
}

.game-message {
  text-align: center;
}

.alt-message {
  color: red;
}

.success {
  color: green;
  font-size: 20px;
}

.failure {
  color: red;
  font-size: 20px;
}

.new-game {
  margin: 10px;
}

.game-board {
  height: 70vmin;
  margin: auto;
  width: 70vmin;
}

.box {
  align-items: center;
  background-color: none;
  border: 1px solid black;
  display: flex;
  font-size: 15vmin;
  height: calc(100% / 3);
  justify-content: center;
}
// from CSS lesson. Would like to implement `nth-child`
// TO DO for resubmission
// .game-board {
//   height: 70vmin;
//   margin: auto;
//   width: 70vmin;
//
//   .box {
//     align-items: center;
//     border-right:  2px solid;
//     border-top: 2px solid;
//     cursor: pointer;
//     display: flex;
//     font-size: 15vmin;
//     height: calc(100% / 3);
//     justify-content: center;
//
//     .box:nth-child(3n) {
//       border-right: 0;
//     }
//
//     .box:nth-child(-n +3) {
//       border-top: 0;
//     }
//   }
// }

.top {
  border-top: 0;
}

.right {
  border-right: 0;
}

.bottom {
  border-bottom: 0;
}

.left {
  border-left: 0;
}

// .new-game {
//   margin: 5px;
// }

// /* Tablet Styles */
// @media only screen and (min-width: 401px) and (max-width: 960px) {
//
//   .sign-up {
//     width: 350px;
//   }
//
//   .sign-in {
//     width: 350px;
//   }
// }
//
// /* Desktop Styles */
// @media only screen and (min-width: 961px) {
//
//   .sign-up {
//     width: 350px;
//   }
//
//   .sign-in {
//     width: 350px;
//   }
// }
