@import '~bootstrap/scss/bootstrap';


.success {
  color: green;
}

.failure {
  color: red;
}

.game-board {
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
}

.box {
  align-items: center;
  background-color: none;
  border: 1px solid black;
  height: 100px;
}
